@import "tailwindcss";


@font-face {
    font-family: 'Departure Mono';
    src: url('/fonts/DepartureMono-Regular.woff') format('woff');
}

@font-face {
    font-family: 'DotGothic16';
    src: url('/fonts/DotGothic16-Regular.ttf') format('trueType');
}


@theme {
    --color-beige-400: oklch(80.11% 0.140 60.19);
    --color-gray-700: oklch(0.4423 0 0);
    --color-pink-400: oklch(0.9047 0.0495 16.57);


    --color-primary: oklch(0.9047 0.0495 16.57);
    --color-characters: oklch(0.4423 0 0);
    --color-background: oklch(1 0 0);
    --color-contrast-bg: oklch(0.9612 0 0);

    --color-dark-primary: oklch(0.613 0.1141 20.93);
    --color-dark-characters: oklch(1 0 0);
    --color-dark-background: oklch(0.3089 0.0254 18.62);
    --color-dark-contrast-bg: oklch(0.2882 0.015 18.06);

    --color-decoration: oklch(0.6268 0 0);


    --font-departure_mono: "Departure Mono";
    --font-jpn: "DotGothic16"


}



:root {
    --status-bar-height: env(safe-area-inset-top, 0px);
    --navigation-bar-height: env(safe-area-inset-bottom, 0px);
}



/* Si tu menú está abajo, ajústalo así: */
.bottom-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: var(--navigation-bar-height);
    /* Para que no se solape con la navigation bar */
    /* Otros estilos de tu menú */
}



@layer {

    body {
        @apply bg-background dark:bg-dark-background;
    }

    #main,
    #bottom-sheet {
        padding-top: var(--status-bar-height);
        padding-bottom: var(--navigation-bar-height);
    }

    #main {
        height: 100dvh;
    }

    .select-box.check {
        @apply bg-characters text-background dark:bg-dark-characters dark:text-dark-background;
    }


    .scaffold {
        @apply overflow-hidden w-screen h-full flex flex-col;


        .scaffold-content {
            @apply grow h-full overflow-y-auto p-6 flex gap-4 flex-col;
        }

    }

    #bottom-sheet {
        @apply fixed flex flex-col bg-background dark:bg-dark-background overflow-hidden w-screen h-screen z-[100] duration-300 transition-transform top-0;

        #bottom-sheet-header {
            @apply h-[70px] shrink-0 border-b border-characters w-full flex items-center px-3 justify-end;
        }

        #bottom-sheet-content {
            @apply grow overflow-y-auto p-6 flex justify-center items-start;
        }
    }

    .btn-primary {
        @apply bg-primary dark:bg-dark-primary w-full h-full p-4 rounded-xl border border-characters dark:border-dark-characters -translate-y-2 hover:translate-y-0 active:translate-y-0 transition-transform duration-150;
    }

    .btn-secondary {
        @apply bg-background dark:bg-dark-background w-full h-full p-4 rounded-xl border border-characters dark:border-dark-characters -translate-y-2 hover:translate-y-0 active:translate-y-0 transition-transform duration-150;
    }
}

@utility shadow-up {
    @apply shadow-characters dark:shadow-dark-characters;
    box-shadow: 0 6px 0 currentColor;
}

@utility selected-decoration {
    @apply shadow-characters dark:shadow-dark-characters;
    box-shadow: inset 0 -6px 0 currentColor;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-black text-characters dark:text-dark-characters;
}

button,a {
    @apply font-bold text-characters dark:text-dark-characters;
}



body {
    @apply text-base text-decoration dark:text-decoration font-departure_mono;
}